div.my-navbar
    a(href="/" class=`${(number == 1)?"active-nav":""}`) Bosh sahifa
    a(href="/news" class=`${(number == 2)?"active-nav":""}`) Yangiliklar
    .my-dropdown
        button.my-dropbtn Bo'limlar
            i.fa.fa-caret-down
        .my-dropdown-content
            .my-header
                h2 MERN - Mongodb Express React Node
            .my-row 
                .my-column 
                    h3 Html Css Js
                    a(href="/html") Html
                    a(href="/css") Css
                    a(href="/js") Js
                .my-column 
                    h3 React.js
                    a(href="/react") React
                    a(href="/ant") Ant js
                    a(href="/materialui") Material.ui
                .my-column 
                    h3 Node.js
                    a(href="/express") Express
                    a(href="/mongodb") MongoDb
                    a(href="/node") Node.js
