div.welcome-img
    img(src=`${img}` alt="welcome img")
    div.pasport-card-wrapper
        div.pasport-card-container
            div.pasport-card
                img(src=`${imgPasport}` alt="pasport img" class="img-pasport")
                div.pasport-card-text
                    h3 Ochilov Shohro'zbek Shohsuvor o'g'li
                    h5 MERN va Mobile
                    p!= `<b>Texnalogiyalar:</b> Html, css, JavaScript, JQuery, React, MongoDb, Express, Node, React Natime`
